<form>

  <div class="form-group">
    <h3>Bem vindo ao Desafio Pitang</h3>
  </div>


  <div class="form-group">
    <label for="email">Login:</label>
    <input type="email" class="form-control" id="login" placeholder="Informe o login" required>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" placeholder="Informe a senha" required>
  </div>

  <button type="button" class="btn btn-primary ">Acessar</button>

</form>